
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Müşteri Ekranı</h2>
<table class="table table-bordered">
   
    <tr>
        <th>MUSTERI ID</th>
        <th>MUSTERI AD</th>
        <th>MUSTERI SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var item in ViewBag.degerler as List<MvcStok.Models.Entity.TBLMUSTERILER>)
        {
        <tr>
            <td>@item.MUSTERIID</td>
            <td>@item.MUSTERIAD</td>
            <td>@item.MUSTERISOYAD</td>
            <td><a href="/MUSTERI/SIL/@item.MUSTERIID" class="btn btn-danger">SİL</a></td>
            <td><a href="/MUSTERI/MusteriGuncelle/@item.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>

        </tr>
        }

    </tbody>

</table>
<a href="/MUSTERI/YeniMusteri" class="btn btn-primary"> YENİ MUSTERI EKLE</a>

